{% load static %}

<div class="col-lg-8">
    <!-- Trending Top -->
    <div class="trending-top mb-30">
        <div class="trend-top-img">
            <!-- Dynamically load the image for the featured post -->
            <img src="{{ featured_post.featured_image.url }}" alt="{{ featured_post.title }}" width="170px" />
            <div class="trend-top-cap">
                <!-- Dynamically display the category and title for the featured post -->
                <span>{{ featured_post.category.name }}</span>
                <h2><a href="{% url 'post-detail' featured_post.pk %}">{{ featured_post.title|truncatechars:50 }}</a></h2>
            </div>
        </div>
    </div>

    <!-- Trending Bottom (Featured Posts) -->
    <div class="trending-bottom">
        <div class="row">
            {% for featured_post in featured_posts %}
            <div class="col-lg-4">
                <div class="single-bottom mb-35">
                    <div class="trend-bottom-img mb-30">
                        <!-- Dynamically load the image for each featured post -->
                        <img src="{{ featured_post.featured_image.url }}" alt="{{ featured_post.title }}" width="170px" height="150px"/>
                    </div>
                    <div class="trend-bottom-cap">
                        <!-- Dynamically display the category and title for each post -->
                        <span class="color1">{{ featured_post.category.name }}</span>
                        <h4><a href="{% url 'post-detail' featured_post.pk %}">{{ featured_post.title|truncatechars:50 }}</a></h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
